/* General styles */

*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

ul li {
  color: #03172b;
}

a {
  text-decoration: none;
  color: darkgray;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: auto;
  background-color: white;
  opacity: 0.8;
  color: #03172b;
  z-index: 1;
}

.nav_brand {
  color: black !important;
  text-transform: uppercase;
  font-weight: bold;
}

.nav_menu {
  margin-bottom: -2px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
}

.nav_toggler div {
  width: 1.5rem;
  height: 0.1rem;
  margin: 0.4rem;
  background: darkgray;
  color: #03172b;
}

.nav_toggler {
  cursor: pointer;
  display: none;
  color: white !important;
}

@media screen and (max-width: 768px) {
  .nav_toggler {
    display: block;
    color: white !important;
  }

  .nav_menu {
    position: absolute;
    top: 101px;
    right: 4px;
  
    background: rgb(232, 204, 204);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white !important;
    display: none;
  }

  .nav_active {
    transform: translateX(0);
    display: flex;
  }
}

/* toggler icon animation */
.toggle .line1 {
  transform: rotate(-45deg) translate(-4px, 5px);
  color: white !important;
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-4px, -5px);
  color: white !important;
}

.nav-link {
  color: black;
  font-weight: 700;
  display: block;
  padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
  font-size: var(--bs-nav-link-font-size);
  font-weight: var(--bs-nav-link-font-weight);
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  color: black;
  size: 18px;
  font-weight: 700;
}

.nav-link {
  position: relative;
}

.nav-link:after {
  content: "";
  position: absolute;
  background-color: yellow;
  height: 3px;
  width: 0;
  left: 15px;
  bottom: -0px;
}

.navbarlogo {
  height: 100px;
}

.nav-link:hover::after {
  width: 38px;
}

.nav-link:hover {
  color: #f2cf5f !important;
}

.nav-link:focus {
  color: #f2cf5f !important;
}

/* Active link style */
.active {
  color: #212529 !important;
}
