#company-countainer {
  height: 500px;
  background-image: url("../image/teamimg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#company-countainer22 {
  background-image: url("../image/teambgcir.png");
  background-repeat: no-repeat;
  background-size: 900px 900px;
  background-position: right;
}
.circle {
  position: relative;
  height: 729px;
  width: 729px;
  background-color: none;
  border-radius: 50%;
  z-index: -99999999999999999999999999999999999999999999999999;
  margin-top: 8%;
}

.circle:before {
  position: absolute;
  content: "";
  height: calc(100% + 10px);
  width: calc(100% + 10px);
  border: 8px dashed #b0aca4;
  left: -173px;
  border-radius: inherit;
  animation: spin 45s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotateZ(360deg);
  }
}
#company-container33 {
  height: auto;
  background-image: url(../../src/image/Group\ 98813.png);
}
.company-img22 {
  height: 675px;
  width: 657px;
  margin-top: 5%;
  margin-left: -44%;
}
.company-row1 {
  margin-top: 5%;
}

.ourmission {
  margin-left: 13%;
}

.company-h3-img {
  text-align: justify;
  font-weight: 700;
  font-size: 20px;
  color: #585858;
}
.circle-img {
  height: 40px !important ;
  width: 70px !important;
}

.company-p3-img {
  margin: 0 5rem;
  margin-left: 0rem;
  font-weight: 500;
  font-size: 17px;
  line-height: 34px;
  padding-right: 4rem;
  margin-left: 190px;
  margin-top: -80px;
}
.ourteam {
  left: 2%;
  margin-top: 45px;
}

.company-p33-img {
  text-align: justify;
  font-weight: 500;
  font-size: 17px;
  line-height: 34px;
  padding-right: 4rem;
  color: #585858;
  margin-left: 168px;
  margin-top: -75px;
}

#company-h1 {
  color: white;
  margin-top: 20%;
}
.company-p1 {
  color: white !important;
}
.company-p2 {
  font-weight: 700;
  font-size: 30px;
  margin-top: 2rem;
  color: white;
}
#company-p3 {
  color: white;
  font-size: 17px;
  line-height: 25px;
  margin-top: 1rem;
}
.abouthp {
  padding: 5rem;
  background-color: #305F76;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.company-img1 {
  width: 600px;
  height: 600px;
}
.contibm {
  height: auto;
  background: rgba(8, 46, 83, 0.03);
}
.row1-heading {
  /* margin-top: 4%; */
  padding-top: 4%;
}
#row1-h3 {
  font-weight: 700;
  font-size: 35px;
  line-height: 99px;
}

#company-countainer2 {
  height: 500px;
  background-color: antiquewhite;
}
.count2-p2 {
  color: black;
  margin-top: 20px;
}
#company-countainer3 {
  height: auto;
  background: #40596b;
}
.count3-h3 {
  margin-top: 10px;
  font-size: 100px;
  font-weight: bold;
  color: white;
}
.count3-p3 {
  color: black;
  font-weight: bold;
}
.count3-center {
  display: flex;
  justify-content: center;
}
.comp-ibm {
  margin-top: 2%;
  margin-bottom: 2%;
}

.aboutus {
  margin-top: 0px;
  background-image: url("./Ellipse\ 46.png");
}

.sideone {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem;
}
.imgdiv {
  height: 60px;
  width: 60px;
  padding-top: 0px !important;
}
.sideone-h1 {
  color: #40596b;
  text-align: left;
}
.side-para-and-h {
  margin-left: 1rem;
}
.sideone-p {
  text-align: start;
  color: black;
}
.side-para-andh {
  margin-left: 1rem;
}
.misson {
  margin-left: 97px;
  margin-top: 82px;
}
.goal {
  margin-left: 47px;
  margin-top: 82px;
}
.vision {
  margin-top: 67px;
  margin-left: 18px;
}
.h1-main {
  color: black;
  font-size: 35px;
  font-weight: 700;
}

.banner {
  padding: 2rem;
}
.services {
  background-color: #4382e3;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.serviceimg {
  width: 300px;
  height: 300px;
}
.whyheading {
  color: #175cca;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 15px;
}
.cardsdata {
  margin-bottom: 2rem;
}
.single-card {
  color: #175cca;
  height: 300px;
  box-shadow: 0px 2px 8px #175cca; /* Customize shadow values */

  /* border: 2px solid #175CCA; */
  /* background-color: #175CCA; */
}
.text-color {
  color: #175cca;
  font-weight: 500;
}
.card-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.card-text:last-child {
  margin-bottom: 0;
  padding: 2rem;
}
.whyus {
  background-image: url(../../public/images/Vector\ 8.png);
  padding: 4%;
}
.headingservices {
  text-align: start;
}
@media only screen and (max-width: 600px) {
  #company-h1 {
    margin-top: 69%;
    
  }
  .company-img1{
    width: 355px;
    height: 506px;
  }
  .serviceimg{
    width: 131px;
    height: 204px;
  }
  .sideone{
    width: 166%;
  }
}
