.containerhead {
  height: 500px;
  background: linear-gradient(259.21deg,
      rgba(8, 20, 61, 0.63) 33.93%,
      rgba(0, 6, 26, 0) 117.36%);
  background-image: url("./image/bg2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.heading1 {
  font-weight: bold;
  font-size: 50px;
  color: white;
  margin-top: 157px !important;
  text-align: center;
}

.heading2 {
  font-weight: bold;
  font-size: 50px;
  color: white;
  text-align: center;
}

.heading3 {
  color: white;
  margin-bottom: 5px;
  text-align: center;
}

.headerrow {
  margin-top: -45px;
}

.btn {
  margin-top: 0.5rem;
  background: #fece3c;
  border-radius: 13px !important;
  width: 8rem !important;
  height: 47px;
  padding: 10px;
  border: none !important;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}

.btnrow {
  justify-content: center;
}

.contibm {
  height: auto;
  background: rgba(8, 46, 83, 0.03);
  overflow: hidden;
}

.marquee {
  position: relative;
  width: 100%;
  overflow: hidden;
  background: transparent;
  padding-top: 30px;
  padding-bottom: -10px;
}

.marqueeContent {
  display: flex;
  animation: scrollLeft 40s linear infinite;
  align-items: center;
}

@keyframes scrollLeft {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(-100%);
  }
}

.fluid {
  max-width: 40px;
  height: auto;
  padding-left: 10px;
}

.rowibm {
  margin: 0 10px;
  display: flex;
    align-items: center;
}
.rowibm img {
  margin-right: 10px;
}

.rowibm p {
  margin-left: 10px;
  text-align: center;
}

/* Media Queries for responsiveness */
@media (max-width: 768px) {

  .heading1,
  .heading2,
  .heading3 {
    font-size: 1.5em;
  }

  .btn {
    font-size: 1em;
  }

  .rowibm {
    margin-bottom: 10px;
  }
  .marquee {
  
  padding-top: 15px;
  padding-left: 10px;
  
}
}