.containerhead{
    height: 500px;
    background: linear-gradient(259.21deg, rgba(8, 20, 61, 0.63) 33.93%, rgba(0, 6, 26, 0) 117.36%);


    background-image: url("./image/bg2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.heading1{
    font-weight: bold;
    font-size: 50px;
    color: white;
    margin-top: 100px !important;
}
.heading2{
    font-weight: bold;
    font-size: 50px;
    color: white;
    
}

.heading3{
    color: white;
    margin-bottom: 5px;
}
.headerrow{
    margin-top: -45px;
}
.btn{
   margin-top: 2rem;
    background: #FECE3C;
    border-radius: 13px;
    width: 10rem !important;
    height: 35px;


    text-align: center;
}
.btnrow{
    justify-content: center;
   
   
}
.contibm{
    height: auto;
    background: rgba(8, 46, 83, 0.03);
   
    
}
.logo{
    margin-right: 150px;
}
.nav-link:active{
    border-bottom: 5px solid yellow;
}
.nav-link:hover{
    border-bottom: 5px solid yellow;

}
.imgrow{
    margin-top: 2%;
}
.countibmimag{
    margin-top: 2% !important;
    margin-bottom: 2%;
}
.rowibm{
    margin-top: 1% !important;
    margin-bottom: 1%;
    marquee:left;
}