*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cont{

     height: auto;
}

.para{
    color: black;
   
}

.continner{

    height: auto;
    width: 100%;
    background: linear-gradient(180.03deg, rgba(8, 46, 83, 0.38) 0.03%, rgba(254, 206, 60, 0) 117.74%);
}


.imag{
    margin-top: 50px;
    margin-left: -15px;
    width: 80%;
    
}
.introh1{
    font-weight: 700;
font-size: 63px;
line-height: 76px;
margin-bottom: 10px;
color: #000000;


}
.para{
    font-weight: 500;
font-size: 18px;
line-height: 22px;
color: #000000;
margin-top: 1%;
margin-bottom: 1%;

}
/* intro.module.css */

.cont {
    padding: 20px;
  }
  
  .introh1 {
    font-size: 2em;
  }
  
  .para {
    font-size: 1.2em;
  }
  
  .continner {
    padding: 20px;
  }
  
  .cards {
    margin-bottom: 20px;
  }
  
  .imag {
    width: 100%;
    height: auto;
  }
  
  /* Media Queries for responsiveness */
  @media (max-width: 768px) {
    .introh1 {
      font-size: 1.5em;
    }
  
    .para {
      font-size: 1em;
    }
  
    .cards {
      margin-bottom: 10px;
    }
  }
  
