*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cont{

     height: auto;
   
    
   
}

.para{
    color: black;
   
}

.continner{

    height: auto;
    width: 100%;
    background: linear-gradient(180.03deg, rgba(8, 46, 83, 0.38) 0.03%, rgba(254, 206, 60, 0) 117.74%);
}


.imag{
    margin-top: 50px;
    margin-left: -15px;
    width: 80%;
    
}
