.Appcrusal {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.projects {
  padding-top: 4%;
}

.projects-section {
  margin-bottom: 2%;
}

.App {
  padding-bottom: 40px;
}

.portcolor11 {
  width: 100%;
  height: 30%;
  margin-top: -73%;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  margin-bottom: 40px;
}

.port-p11 {
  margin-top: -180px;
  color: white;
  font-weight: bold;
  font-size: 10px;
}

.port-p22 {
  margin-top: -160px;
  color: white;
  font-weight: bold;
  font-size: 20px;
}

/* .h1-projects::after {
  content: " ";
  position: absolute;
  width: 22%;
  bottom: -192%;
  left: 50%;
  transform: translateX(-50%);
  border-bottom: 3px solid #f2cf5f;
} */

.h1-projects {
  font-size: 35px;
  font-weight: 700px;
}

.p-projects {
  padding-top: 15px;
  font-size: 16px;
}
.filter-button.active{
  color: white!important;
}
