.Appcrusal {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.projects {
  padding-top: 4%;
}

.projects-section {
  margin-bottom: 2%;
}

.App {
  padding-bottom: 40px;
}

/* .h1-projects::after {
  content: " ";
  position: absolute;
  width: 22%;
  bottom: -192%;
  left: 50%;
  transform: translateX(-50%);
  border-bottom: 3px solid #f2cf5f;
} */

.h1-projects {
  font-size: 35px;
  font-weight: 700px;
}

.p-projects {
  padding-top: 15px;
  font-size: 16px;
}
