 
/* .testimonial-image-container {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}
.testimonial-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #fece3c;
} */

.test-count {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  background-color: #fdfbf7;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.spacing-there {
  text-align: center;
  margin-left: 5px;
}

.slidercenter {
  display: flex;
  justify-content: center;
}

.slick-prev:before,
.slick-next:before {
  color: #fece3c;
  font-size: 39px;
  
}

.spacing-there {
  padding-top: 1rem;
}

/* /* .test-count::before{
    content: "Feed back ";
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('images/Feedback.png'); 
    background-size: 200px;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    opacity: .3 ;
    z-index:2 ;
} */
.test-h1 {
  color: #fece3c;
  padding-top: 3%;
  font-size: 45px;
  font-weight: 700;
  text-align: center;
 
}

.test-p2 {
  color: #fece3c;
  font-weight: bold;
text-align: center;
 
}
.test-p3{
  text-align: center;
  /* margin-top: 5px; */
  margin-bottom: 25px;
   
}
.test-p6 {
  color: #b6b6b6;
  margin-bottom: 3%;
  text-align: center;
}
.test-p5{
  text-align: center;
}

.test-p4 {
  color: #333333;
}

.arrowbtn {
  font-weight: bold;
  font-size: 100px;
}

.testimage {
  height: 10%;
  width: 5%;
  margin-top: 10px;
}
@media (max-width: 767.98px) {
.slick-prev:before,
.slick-next:before {
  
  margin-left: -10px;
}
}