*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#ser-container1{
    height: auto;
    background: linear-gradient(269.73deg, #3686AE 1.1%, rgba(254, 206, 60, 0) 115.91%);
}

.BACKING1{
    background-image: url(/public/images/instagram21.png);

}

.BACKING2{
    
    padding-left: 10%;

}
.BACKING3{
    background-image: url(/public/images/instagram21.png);

}
.web_sr h4{
    margin-right: 10%;
}

.text-muted{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
}
.web_2{
    margin-top: 10%;
}


.how-section1{
    margin-top:-15%;
    padding: 10%;
}
.how-section1 h4{
    color: #ffa500;
    font-weight: bold;
    font-size: 30px;
}
.how-section1 .subheading{
    color: #3931af;
    font-size: 20px;
}
.how-section1 .row
{
    
    margin-top: 10%;
}
.how-img 
{
    text-align: center;
    padding-left: 10%;
}
.how-img{
    width: 40%;
    
}



.how-section1{
   
    margin-top:-15%;
    padding: 10%;
   
}
.how-section1 h4{
    color: #ffa500;
    font-weight: bold;
    font-size: 30px;
}
.how-section1 .subheading{
    
    color: #3931af;
    font-size: 20px;
}
.how-section1 .row
{
    margin-top: 10%;
    
}
.how-img 
{
    
    text-align: center;
}
.how-img img{
    
    width: 100%;
    
}
#ser-count1-p1{
    
    font-style: normal;
    font-weight: 700;
    font-size: 76px;
    line-height: 92px;
    margin-top: 20%;
    text-align: left;
    margin-left: 10%;
  
    
    
    color: #082E53;
}
#ser-count1-p2 {
font-weight: 600;
font-size: 26px;
line-height: 31px;
margin-left: 10%;
color: #082E53; 
margin-top: 5%;
text-align: left;
width: 90%;


}
#ser-bg-img{
    width: 80%;
    height: 100%;
    margin-bottom: 5%;
    margin-top: 5%;
}
.BACKIMG1
{
    background-image: url(/public/images/instagram21.png);
}
.BACKIMG1
{
    background-image: url(/public/images/instagram21.png);
}
h4{
    padding-top:48px;
    color: black;
    font-weight: bold;

}


.container-1{
    display: flex;
    column-gap: 30px;
   
   
}
.box-1{
    border-radius: 10px;
    height: 180px;
    width: 500px;
    background-color: #b3c6f2;
    margin-bottom: 05%;
    margin-left: 10%;
   
    color: #3931af;
}
.address1{
text-align: center;
padding-top: 2%;
color: #0e0a3e;
}
.addressicon{
    
    color: #3931af;
    margin-bottom: 2%;
}

.Emailus{
    text-align: center;
padding-top: 7%;
color: #0b0739;
}
.Emailicon{
    color: #3931af;
    margin-bottom: 2%;
}

.Contactus{
    text-align: center;
    padding-top: 15%;
    color: #0b0739;
}
.contacticon{
    color: #3931af;
    margin-bottom: 2%;
}

.contact-text p{
padding-bottom: 20%;
    color: #ffa500;
}


.box-2{
  border-radius: 10px;
    height: 400px;
    width: 500px;
    background-color:#b3c6f2;
    margin-bottom: 05%;
    text-align: center;
    padding-top: 2%;
   
    
}
.container-2{
    display: flex;
    column-gap: 10px;
}
.box-3{
    border-radius: 10px;
    margin-top: 11%;
   
    height: 200px;
    width: 300px;
    background-color: #b3c6f2;
    margin-bottom: 30%;
   
    
   
   
}
.box-4{
    border-radius: 10px;
    margin-top: 11%;
    height: 200px;
    width: 190px;
    background-color: #b3c6f2;
    margin-bottom: 30%;
   
}
